<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/core.css">
    <title>근태관리</title>
    <style>
        #signupForm{background-color:white;padding:20px;border-radius:50px 50px 0 0;position:absolute;bottom:0;width:100%;height:70%}
        .title{font-size:36px;font-weight:bold;margin-top:36px}
        #addUser input{background-color:#F5F5F5;padding:14px}
    </style>
</head>
<body style="background-color:#FFB800">
<main>
    <div class="mobile-container">
        <div class="text-center">
            <img style="margin-top:60px" src="/image/circle.svg">
        </div>
        <div id="signupForm">
            <div class="title text-center">LOGIN</div>
            <form id="addUser" style="margin-top:65px">
                <div class="d-flex flex-column gap-3">
                    <input class="form-control" id="userId" name="userId" placeholder="아이디를 입력하세요" type="text" />
                    <input class="form-control" id="userPw" name="userPw" placeholder="비밀번호를 입력하세요" type="password" />
                    <input name="status" type="hidden" value="0">
                </div>
                <button class="btn btn-warning" id="signUp" type="button" style="margin-top: 115px;background-color:#FFB800;width:100%" onclick="addUser()">등록</button>
            </form>
        </div>
    </div>

</main>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/core.js"></script>
<script src="/js/axios.js"></script>
<script>
    $(document).ready(()=>{
        Dialog.init();
    });

    function addUser(){
        let formData = new FormData(document.querySelector('#addUser'));
        let vdata = Utils.formToObject(formData);
        console.log(vdata);
        AJAX.post('/api/admins/add',formData).then(function (res){
            Dialog.alert(res.message,Page.reload);
        });
    }


</script>
</body>
</html>